/* Cabeçalho */
#cabecalho p{
    font-size: 14px;
}

/* Barra de navegação */
.items{
    gap: 30px;
}

/* Produtos */
#principal{
    height: 160vh;
}

#conteiner-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.produtos{
    width: 300px;
}

/* Lojas */
#lojas h2{
    padding-top: 4vh;
}

#conteiner-lojas{
    align-items: center;
    padding: 0 0 15vh 0;
    gap: 10vw;
}

#lojas img{
    width: 150px;
    height: 150px;
}

/* sobre nós */
#sobre{
    height: 80vh;
}

#conteiner-sobre{
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
    padding: 0px 10px;
}

.mvv p{
    font-size: 14px;
}

#rodape{
    font-size: 14px;
}