/* Cabeçalho */
#cabecalho p{
    font-size: 14px;
}

/* Barra de navegação */
.items{
    gap: 30px;
}

/* Produtos */
#principal{
    height: 200vh;
    flex-direction: column;
    padding: 4vh 0;
}

#productCard{
    width: 60vw;
    height: 60vh;
    padding: 3% 0;
}

/* Lojas */
#lojas img{
    width: 35vw;
    height: 33vh;
}

/* sobre nós */
#sobre{
    height: 80vh;
}

#conteiner-sobre{
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
    padding: 0px 10px;
}

.mvv p{
    font-size: 14px;
}

#rodape{
    font-size: 14px;
}