/* importizão da vida */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Lexend Deca', sans-serif;
}

/* Cabeçalho */
#cabecalho{
  background-color: #222;
  color: snow;
  height: 7vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

#cabecalho p{
  font-size: 18px;
  margin-right: 5%;
}

/* Barra de navegação */
#navbar{
  background-color: #777;
  color: snow;
  height: 13vh;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

#conteiner-navbar{
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  justify-content: space-between;
}

.items{
  display: flex;
  gap: 50px;
  list-style: none;
}

.link1{
  transition: 0.3s;
  color: snow;
}

.link1:hover{
  color: #222;
}

/* Produtos */
#principal{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-around ;
}

#productCard{
  width: 23vw;
  height: 65vh;
  background-color: #222;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0;
  color: snow;
}

#productCard img{
  width: 70%;
  height: 70%;
  object-position: center;
  border-radius: 5px;
  object-fit: cover;
}

#btnBuy{
  padding: 2% 8%;
  border: none;
  background-color: snow;
  color: #222;
  border-radius: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}

#btnBuy:hover{
  transform: scale(1.12);
  background-color: #bbb;
}

/* Lojas */
#lojas{
  background-color: #222;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#lojas h2{
  color: snow;
  padding: 1% 0 2%;
  font-size: 2rem;
}

#lojas img{
  width: 25%;
  height: 90%;
  background-color: white;
}

#conteinerLojas{
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Sobre nós */
#sobre{
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#conteiner-sobre{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vh;
  width: 95%;
  margin: auto;
}

.mvv{
  text-align: justify;
}

.mvv h2{
  text-align: center;
  padding: 15px 0px;
}

/* Rodapé */
#rodape{
  background-color: #222;
  color: snow;
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px){
  
}